
.hero {
  //padding: 150px 0;
  background: #c1c0bd;
  background: linear-gradient(to right, #c1c0bd 75%, #dad8d8 50%);
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &-left  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: calc(50% - 15px);
    position: relative;

    h1 {
      font-weight: 400;
      font-size: calcFluidFontSize(28, 40);
      line-height: 140%;
      color: #2C2C2C;
      margin-top: 24px;
      max-width: 465px;
      width: 100%;
    }

    p {
      font-weight: 400;
      font-size: calcFluidFontSize(14, 16);
      line-height: 160%;
      color: #2C2C2C;
      margin-top: 24px;
      max-width: 465px;
      width: 100%;
    }

    .buttons {
      max-width: 356px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      .btn-tran, .btn-black {
        max-width: 170px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .btn-tran {
        border: 1px solid #1F1F1F;
        border-radius: 2px;
        span {
          color: #1F1F1F;
        }
      }
      .btn-black {
        background: #1F1F1F;
        border-radius: 2px;
        span {
          color: #DADADB;
        }
      }
    }
    &-top {
      position: absolute;
      top: 0;
      right: -100px;
    }
    &-bottom {
      position: absolute;
      position: absolute;
      bottom: 0px;
      right: -320px;
    }
  }

  &-right {
    width: calc(50% - 15px);
    padding: 100px 0;
    padding-bottom: 119px;
    background: url(../img/heroBlock/rightBg.png) no-repeat;
    img {
      margin-left: 50px;
    }
  }
  @media (max-width: 992px) {
    background: #dddddd;
    background: none;
    padding-top: 40px;
    padding-bottom: 40px;
    &__content {
      flex-direction: column-reverse;
      align-items: center;
      max-width: 450px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
    &-right {
      background-image: url(../img/heroBlock/mobbg.png);
      background-repeat: no-repeat;
      background-size: auto;
      padding-bottom: 0;
      padding-top: 50px;
      width: 100%;
      img {
        margin-left: 0;
      }
    }
    &-left {
      margin-top: 40px;
      width: 100%;
      &-top,&-bottom {
        display: none;
      }
      .buttons {
        .btn-tran, .btn-black {
          width: calc(50% - 8px);
        }
      }
    }
  }
}

.compact--mode {
  height: 720px;
  background-color: #c1c0bd;
  background-image: url(../img/compact/bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-position-x: center;
  padding: 30px 0;
  .container {
    max-width: none;
    margin-left: 50px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 15px);
    .flip {
      width: 100%;
    }
    .flip-wrapper {
      display: flex;
      align-items: center;
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
    }
  }
  &-right {
    width: calc(50% - 15px);
    h4 {
      font-style: normal;
      font-weight: 400;
      font-size: calcFluidFontSize(22, 28);
      line-height: 140%;
      color: #2C2C2C;
      text-align: left;
    }
    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #2C2C2C;
      text-align: left;
    }
    .swiper {
      max-width: 390px;
      width: 100%;
      margin-left: 0;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 280px;
      margin-top: 24px;
      .slider-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(31, 31, 31, 0.3);
        border-radius: 2px;
        &:hover {
          cursor: pointer;
        }
      }

      .Details {
        max-width: 170px;
        min-width: 170px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #1F1F1F;
        border-radius: 2px;
        span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #1F1F1F;
        }
      }
    }
  }
  @media (max-width: 992px) {
    background: none;
    height: auto;
    .container {
      margin-left: 0;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      max-width: 450px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
    &-left {
      width: 100%;
      background-image: url(../img/compact/mobBg.png);
      background-repeat: no-repeat;
      background-size: auto;
    }
    &-right {
      width: 100%;
      margin-top: 24px;
    }
  }
}

.numbers {
  height: 610px;
  background-image: url(../img/numbers/bg.png);
  display: flex;
  align-items: center;
  background-color: #c1c0bd;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  padding: 30px 0;
  padding-top: 150px;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .numbers-swiper {
      overflow: visible;
      width: 100%;
    }
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D8D7D6;
    border-radius: 2px;
    width: 364px;
    height: 336px;
    position: relative;
    .numbers-item-text {
      p {
        font-weight: 600;
        font-size: 138.667px;
        line-height: 168px;
        color: rgba(35, 27, 17, 0.6);
      }
      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: rgba(35, 27, 17, 0.6);
      }
    }
    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      height: 90%;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 2px;
      transform: translate(-50%, -50%) rotate(1.92deg);
    }
  }

  .numbers-one {
    margin-top: - 150px;
    .line {
      transform: translate(-50%, -50%) rotate(1.92deg);
    }
  }
  .numbers-two {
    .line {
      transform: translate(-50%, -50%) rotate(-1.32deg);
    }
  }
  .numbers-three {
    margin-top: 150px;
    .line {
      transform: translate(-50%, -50%) rotate(1.94deg);
    }
  }
  @media (max-width: 1024px) {
    overflow: hidden;
    height: auto;
    padding: 50px 0;
    .numbers-three, .numbers-one {
      margin-top: 0;
    }
    .numbers-swiper {
      max-width: 310px;
    }
    .numbers-item {
      width: 200px;
      height: 186px;
      p {
        font-size: 76.7619px;
        line-height: 50px;
      }
      span {
        font-size: 9.96428px;
      }
    }
  }
}

.housing {
  height: 700px;
  background-color: #c1c0bd;
  background-image: url(../img/housing/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-position-x: center;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &-left {
    width: calc(50% - 15px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    h4 {
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 140%;
      color: #2C2C2C;
      text-align: left;
    }
    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #2C2C2C;
      text-align: left;
    }
    .swiper {
      max-width: 390px;
      width: 100%;
      margin-left: 0;
    }


    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 280px;
      margin-top: 24px;
      width: 100%;
      .slider-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(31, 31, 31, 0.3);
        border-radius: 2px;
        &:hover {
          cursor: pointer;
        }
      }

      .Details {
        max-width: 170px;
        min-width: 170px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #1F1F1F;
        border-radius: 2px;
        span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #1F1F1F;
        }
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 15px);
    .swiper-slide {
      display: flex;
      justify-content: center;
    }
    .flip2 {
      width: 100%;
    }
  }
  @media (max-width: 992px) {
    height: auto;
    background: none;
    padding: 30px 0;
    &__content {
      flex-direction: column-reverse;
      align-items: center;
      max-width: 450px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    &-right, &-left{
       width: 100%;
     }
    &-left {
      margin-top: 24px;
    }
  }
}

.big-slider {
  height: 760px;
  background-image: url(../img/bigSlider/bg.png);
  display: flex;
  align-items: center;
  background-color: #c1c0bd;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  &__content {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .swiper {
      &-wrapper {

      }
      &-slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .slider-btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(31, 31, 31, 0.3);
      border-radius: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        cursor: pointer;
      }
      &__prev {
        left: -50px;
        @media (max-width: 1080px) {
          left: -40px;
        }
        @media (max-width: 992px) {
          display: none;
        }
      }
      &__next {
        right: -50px;
        @media (max-width: 1080px) {
          right: -40px;
        }
        @media (max-width: 992px) {
         display: none;
        }
      }
    }
  }
  @media (max-width: 992px) {
    height: auto;
    padding: 30px 0;
    background: none;
  }
}

.form {
  height: 610px;
  background-image: url(../img/form/bg.png);
  display: flex;
  align-items: center;
  background-color: #c1c0bd;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  margin-top: -1px;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  &__content {
    background: #D7D5D5;
    max-width: 492px;
    width: 100%;
    margin: 0 auto;
    padding: 56px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-weight: 400;
      font-size: 28px;
      line-height: 140%;
      color: #2C2C2C;
      max-width: 365px;
      width: 100%;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
       color: #2C2C2C;
      margin-top: 24px;
      max-width: 365px;
      width: 100%;
    }
  }

  &-form {
    max-width: 365px;
    width: 100%;
    .form-element {
      position: relative;
      margin-top: 30px;
      &__input, &__textarea {
        height: 40px;
        border: 1px solid rgba(31, 31, 31, 0.3);
        border-radius: 2px;
        background: #D7D5D5;
        width: 100%;
        padding: 8px 16px;
        resize: none;
        &::placeholder {
          color: #505050;
          opacity: 0.5;
          font-weight: 400;
          font-size: 14px;
        }
      }
      &__textarea {
        height: 118px;
      }
      &__label {
        font-size: 12px;
        padding: 0 4px;
        position: absolute;
        left: 10px;
        background: #D7D5D5;
        top: -10px;
        color: #505050;
      }
      .status {
        display: none;
      }
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        background: #1F1F1F;
        border-radius: 2px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 170px;
        width: 100%;
        margin-top: 16px;
        &:hover {
          cursor: pointer;
        }
        span {
          font-size: 14px;
          line-height: 17px;
          color: #DADADB;
        }
      }
    }
  }
  @media (max-width: 992px) {
    background: none;
    .buttons {
      button  {
        width: 100%;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}


.item-page {
  .hero {
    //padding: 150px 0;
    background: #c1c0bd;
    background: linear-gradient(to right, #c1c0bd 75%, #dad8d8 50%);
    &__content {
      display: flex;
      justify-content: space-between;
    }
    &-left  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: calc(50% - 15px);
      position: relative;
      padding: 90px 0;
      img {
        //margin-right: 50px;
      }
      &-top {
        position: absolute;
        top: 0;
        right: -100px;
      }
      &-bottom {
        position: absolute;
        position: absolute;
        bottom: 0px;
        right: -320px;
      }
    }

    &-right {
      width: calc(50% - 15px);

      padding-bottom: 119px;
      background: url(../img/heroBlock/rightBg.png) no-repeat;
      padding-left: 100px;
      h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 140%;
        color: #2C2C2C;
        margin-top: 24px;
        max-width: 465px;
        width: 100%;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #2C2C2C;
        margin-top: 24px;
        max-width: 465px;
        width: 100%;
      }

      .buttons {
        max-width: 356px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .btn-tran, .btn-black {
          max-width: 170px;
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }
        }
        .btn-tran {
          border: 1px solid #1F1F1F;
          border-radius: 2px;
          span {
            color: #1F1F1F;
          }
        }
        .btn-black {
          background: #1F1F1F;
          border-radius: 2px;
          span {
            color: #DADADB;
          }
        }
      }
    }
  }
  .info {
    height: 630px;
    background-image: url(../img/info/bg.png);
    display: flex;
    align-items: center;
    background-color: #c1c0bd;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    margin-top: -1px;
    &__content {
      display: flex;
      justify-content: space-between;
    }
    &-right, &-left {
      width: calc(50% - 15px);
    }
    &-right{
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    &-left {
      display: flex;
      flex-direction: column;
      align-items: start;
      .info-block {
        margin-top: 35px;
        &:first-child {
          margin-top: -35px;
        }
      }
    }
    &-block {
      max-width: 460px;
      width: 100%;
      h3 {
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
        color: #2C2C2C;
        margin-bottom: 24px;
      }
    }
    &-item {
      display: flex;
      margin-top: 8px;
      &:first-child {
        margin-top: 0;
      }
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #2C2C2C;
        margin-right: 16px;
      }
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #2C2C2C;
      }
    }
  }
  .new-info {
    height: 700px;
    background-color: #c1c0bd;
    background-image: url(../img/housing/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-position-x: center;
    &__content {
      display: flex;
      justify-content: space-between;
    }
    &-left {
      width: calc(50% - 15px);
      h3 {
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
      }
    }
    &-right {
      width: calc(50% - 15px);
      h3 {
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
      }
    }
    &-block {
      max-width: 365px;
      width: 100%;
    }
    &-item {
      display: flex;
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #2C2C2C;
        margin-right: 8px;
      }
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #2C2C2C;
      }
    }
  }
}
